<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CampusKids - Администратор</title>
</head>
<body>
<h1>Hi, admin!</h1>
<a th:href="@{/student-search}">Профайл студента (поиск)</a><br><br>
<!--<a th:href="@{/student-delete}">Удалить аккаунт студента</a><br><br>-->
<a th:href="@{/groups}">Студенческие группы</a><br><br>
<a th:href="@{/student-send-message}">Сообщение студенту</a><br><br>
<a th:href="@{/student-check-statements}">Ведомостички</a><br><br>
<a th:href="@{/find-group-subjects}">Учебный план</a><br><br>
<!--<a th:href="@{/student-messages/{id}(id=${id})}">Студенты по группам (фильтрация)</a><br><br>-->
<a th:href="@{/control-teachers}">Преподаватели</a><br><br>
<a th:href="@{/students-geography}">География иностранных студентов</a><br><br>
<a th:href="@{/stages}">Ступени образования по количеству иностранных студентов</a><br><br>
<a th:href="@{/faculties-popularity}">Рейтинг факультетов</a><br><br>
<a th:href="@{/sign-in}">Выйти</a><br><br>
</body>
</html>