<!doctype html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CampusKids - Учебный план</title>
</head>
<body>
<h1>Работа с учебным планом</h1>
<div th:switch="${subjects}">
    <h2 th:case="null">Учебный план для данной группы не составлен!</h2>
    <div th:case="*">
        <h2></h2>
        <table>
            <thead>
            <tr>
                <th>Группа</th>
                <th>Код предмета</th>
                <th>Название дисциплины</th>
                <th>Учебные часы</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="subject : ${subjects}">
                <td th:text="${id_group}"></td>
                <td th:text="${subject.id_subject}"></td>
                <td th:text="${subject.subject_name}"></td>
                <td th:text="${subject.study_hours}"></td>
                <td><a th:href="@{update-subject/{id}(id=${subject.id_subject})}">Изменить</a></td>
                <td><a th:href="@{delete-subject/{id}(id=${subject.id_subject})}">Удалить</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/create-subject">Дисциплина +</a></p>
</div>
</body>
</html>


