<!doctype html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CampusKids - Отметки</title>
</head>
<body>
<h1>Работа с отметками</h1>
<form action="#" th:action="@{/marks-control}"  method="post">
    <label for="id_gr">Номер группы</label>
    <select id="id_gr" name="allGroups">
        <option th:each="allGroups : ${allGroups}"
                th:value="${allGroups.id_group}"
                th:text="${allGroups.id_group}"
        >

        </option>
    </select>
<!--    <div th:if="${students.size()==0}">-->
<!--        <label for="id_student">Номер зачётки</label>-->
<!--        <select id="id_student">-->
<!--            <option th:each="students : ${students}">${students.id_student}</option>-->
<!--        </select>-->
<!--        &lt;!&ndash;    <input type="number"  th:field="*{student.id_student}" id="id_student" placeholder="Номер зачётной книжки">&ndash;&gt;-->
<!--        <label for="subj_name">Номер зачётки</label>-->
<!--        <select id="subj_name">-->
<!--            <option th:each="subjects : ${subjects}">${subjects.academic_discipline}</option>-->
<!--        </select>-->
<!--        &lt;!&ndash;    <input type="number"  th:field="*{student.id_student}" id="discipl" placeholder="Дисциплина">&ndash;&gt;-->
<!--        <label for="mark">Отметка</label>-->
<!--        <select id="mark">-->
<!--            <option th:each="marks : ${marks}">${marks}</option>-->
<!--        </select> -->
<!--    </div>-->
    <input type="submit" value="Показать">
</form>
</body>
</html>