<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CampusKids - Ступени образования</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        // Load the Visualization API and the corechart package.
        google.charts.load('current', {'packages':['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {
var firstSt=[[${first}]];
var secondSt=[[${second}]];
var thirdSt=[[${third}]];
            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Topping');
            data.addColumn('number', 'Slices');
            data.addRows([
                ['Бакалавриат', firstSt],
                ['Магистратура', secondSt],
                ['Аспирантура', thirdSt]
            ]);

            // Set chart options
            var options = {'title':'Ступени образования по количеству иностранных студентов'
                // 'width':800,
                // 'height':600
                };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
    <link th:href="@{/styles/stages.css}" rel="stylesheet"/>
</head>
<body>


<table>
    <thead>
    <th rowspan="2"><h2>НА КАКИХ СТУПЕНЯХ ОБРАЗОВАНИЯ БОЛЬШЕ ИНОСТРАНЦЕВ?</h2></th>
    </thead>
    <tbody>
    <td><div id="chart_div" style="width: 100%; height: 550px;"></div></td>

    </tbody>
</table>
<p><a th:href="@{/sign-in}">НАЗАД</a></p>
</body>
</html>