<!doctype html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CampusKids - География</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        // Load the Visualization API and the corechart package.
        google.charts.load('current', {'packages':['geochart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawRegionsMap);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawRegionsMap() {
            var firstCountry=[[${country1}]];
            var secondCountry=[[${country2}]];
            var thirdCountry=[[${country3}]];
            var fourthCountry=[[${country4}]];
            var fifthCountry=[[${country5}]];
            // Create the data table.
            var data = new google.visualization.arrayToDataTable([
                ['Country', 'Students'],
                ['RU', firstCountry],
                ['KZ', secondCountry],
                ['UZ', thirdCountry],
                ['CN', fourthCountry],
                ['World', fifthCountry]
            ]);
            // data.addColumn('string', 'Страна');
            // data.addColumn('number', 'Студентов');
            // data.addRows([
            //     ['Россия', firstCountry],
            //     ['Казахстан', secondCountry],
            //     ['Узбекистан', thirdCountry],
            //     ['Китай', fourthCountry],
            //     ['Другое', fifthCountry]
            // ]);

            // Set chart options
            // var options = {displayMode: 'text'};
            var options = {

                // // region: '142', // Africa
                // colorAxis: {colors: ['#00853f', 'black', '#e31b23']},
                // backgroundColor: '#81d4fa',
                // datalessRegionColor: '#f8bbd0',
                // defaultColor: '#f5f5f5',
            };
                // ,
                // width:400,
                // height:300,
                // };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));
            chart.draw(data, options);
        }
    </script>
</head>
<body>
<h1>География студентов</h1>
<div id="regions_div" style="width: 900px; height: 500px;"></div>
<!--style="border: 1px solid #ccc"-->
</body>
</html>