<!doctype html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CampusKids - Студент</title>
</head>
<body>
<h1>Редактирование студента</h1>
<form action="#" th:action="@{/update-student}"  method="post">
<!--    th:object="${student}"-->
    <p th:text="${student.id_student}"></p>
    <label for="hobbies">Хобби</label>
    <input type="text" th:field="*{student.hobbies}" id="hobbies" placeholder="Хобби">
    <label for="skills">Навыки</label>
    <input type="text" th:field="*{student.skills}" id="skills" placeholder="Навыки">
<!--    <label for="group">Номер группы</label>-->
<!--    <input type="hidden" th:field="*{studentGroup.id_group}" id="group" placeholder="Группа">-->
<!--    <label for="password">Пароль</label>-->
<!--    <input type="password" th:field="*{password}" id="password" placeholder="Пароль">-->
    <input name="id_stud" type="hidden" th:value="${student.id_student}">
    <input type="submit" value="Обновить данные">
</form>
</body>
</html>