<!doctype html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CampusKids - Новая группа</title>
</head>
<body>
<form action="#" th:action="@{/create-group}" th:object="${studentGroup}" method="post">
    <label for="id_group">Номер группы</label>
    <input type="number" th:field="*{id_group}" id="id_group" placeholder="Номер группы">
    <label for="faculty">Название факультета</label>
    <input type="text" th:field="*{faculty}" id="faculty" placeholder="Название факультета">
    <label for="speciality">Название специальности</label>
    <input type="text" th:field="*{speciality}" id="speciality" placeholder="Название специальности">
    <label for="stage_of_education">Ступень образования</label>
    <input type="text" th:field="*{stage_of_education}" id="stage_of_education" placeholder="Ступень образования">
    <input type="submit" value="Добавить новую группу">
</form>
</body>
</html>