<!doctype html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CampusKids - Ведомостички</title>
    <link th:href="@{/styles/checkStatements.css}" rel="stylesheet"/>
</head>
<body>
<h1>CampusKids - администратор</h1>
<div th:switch="${stats}">
<p th:case="null" class="failCl">НЕТ НЕОБРАБОТАННЫХ ВЕДОМОСТИЧЕК!</p>
<div th:case="*">
<h2>РАСПЕЧАТАТЬ ВЕДОМОСТИЧКИ</h2>
<table>
    <thead>
    <tr>
        <th>НОМЕР ДОКУМЕНТА</th>
        <th>ДИСЦИПЛИНА</th>
        <th>ПРЕПОДАВАТЕЛЬ</th>
        <th>ДАТА ПРОПУСКА</th>
        <th>ОБРАБОТКА</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="statements:${stats}">
        <td  th:text="${statements.id_statement}"></td>
        <td th:text="${statements.academic_discipline}"></td>
        <td th:text="${statements.teacher_fio}"></td>
        <td th:text="${statements.missing_class_date}"></td>
<!--        <td th:if="${statements.isPrinted==0}">В обработке</td>-->
        <td>
            <form action="#" th:action="@{/student-check-statements}" method="post">
                <input type="submit" value="Распечатать">
                <input type="hidden" name="id" th:value="${statements.id_statement}">
            </form>
        </td>
    </tr>
    </tbody>
</table>
</div>
<p><a th:href="@{/admin}" class="newGr">ВЫХОД</a><br><br></p>
</div>
<h3>CampusKids</h3>
</body>
</html>