<!doctype html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CampusKids - Оценки</title>
    <link th:href="@{/styles/studentMarks.css}" rel="stylesheet"/>
</head>
<body>
<h1>CampusKid</h1>

<div th:switch="${marks}" class="wallpaper">
    <h2 th:case="null">ОЦЕНКИ НЕ НАЙДЕНЫ!</h2>
    <div th:case="*">
        <h2>МОИ ОТМЕТКИ</h2>
        <table class="tbl">
            <tr>
                <td><table>
                    <thead>
                    <tr>
                        <th>НАЗВАНИЕ ПРЕДМЕТА</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="subject : ${subjects}">
                        <td th:text="${subject.subject_name}"></td>
                        <!--                    <td th:if="${mark.subject.subject_id_subject == subject.id_subject}">-->
                        <!--                    </td>-->
                        </td>
                    </tr>
                    </tbody>
                </table></td>
                <td> <table>
                    <thead>
                    <tr>
                        <th>ОТМЕТКИ</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="mark1 : ${marks1}">
                        <td th:text="${mark1}"></td>
                        <!--                    <td th:if="${mark.subject.subject_id_subject == subject.id_subject}">-->
                        <!--                    </td>-->
                        </td>
                    </tr>
                    </tbody>
                </table></td>
            </tr>
        </table>


    </div>
    <p><a th:href="@{/student/{id}(id=${id})}">НАЗАД</a><br><br></p>
</div>
<h3>CampusKids</h3>
</body>
</html>