<!doctype html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CampusKids - Регистрация</title>
    <link th:href="@{/styles/studentRegistration.css}" rel="stylesheet"/>
</head>
<body>
<h1>CampusKids</h1>
<h2>СОЗДАНИЕ УЧЁТНОЙ ЗАПИСИ</h2>
<form action="#" th:action="@{/student-registration}"  method="post">
    <table>
<!--        убрать страховку, сделать проверку логина, сделать селекты (байты и группа), проверка студака-->
        <tr>
            <td>
                <label for="surname">ФАМИЛИЯ: </label><br>
                <input type="text" th:field="*{user.surname}" id="surname" placeholder="Фамилия"><br>
                <label for="name">ИМЯ:</label><br>
                <input type="text" th:field="*{user.name}" id="name" placeholder="Имя"><br>
                <label for="patronymic">ОТЧЕСТВО: </label><br>
                <input type="text" th:field="*{user.patronymic}" id="patronymic" placeholder="Отчество"><br>
                <label for="email">E-MAIL: </label><br>
                <input type="email" th:field="*{user.email}" id="email" placeholder="E-mail"><br>
                <label for="group">ГРУППА: </label><br>
<!--                <input type="text" th:field="*{studentGroup.id_group}" id="group" placeholder="Группа">-->
<!--                <label for="id_gr">Номер группы</label>-->

<!--                th:field="*{studentGroup.id_group}"-->
                <select id="group" name="allGroups" >
                    <option th:each="allGroups : ${allGroups}"
                            th:value="${allGroups.id_group}"
                            th:text="${allGroups.id_group}"
                    >

                    </option>
                </select>
<!--                <input type="hidden" name="groupId" th:value="${studentGroup.id_group}" >-->
            </td>
            <td>
                <label for="id_student">ЗАЧЁТНАЯ КНИЖКА: </label><br>
<!--                th:text="${id_stud}"-->
<!--                <input type="number" th:field="*{student.id_student}" id="id_student" placeholder="Зачётная книжка:"><br>-->
                <input type="text"  th:field="*{student.id_student}" th:value="${id_stud}"  id="id_student" th:placeholder=${id_stud} class="greenCl" readonly><br>
                <label for="country">РОДНАЯ СТРАНА: </label><br>
                <input type="text" th:field="*{student.home_country}" id="country" placeholder="Родная страна"><br>
<!--                <label for="is_health_insurance">МЕДСТРАХОВКА: </label><br>-->
                <input type="hidden" name="studentId" th:value="${id_stud}" >
<!--                //логин, номер зачётки-->

<!--                //логин, номер зачётки-->
                <input type="hidden" th:field="*{student.is_health_insurance}" th:value="${1}" id="is_health_insurance" placeholder="Наличие медстраховки">
                <label for="health_date">МЕДСТРАХОВКА ДО: </label><br>
                <input type="date" th:field="*{student.health_insurance_validity}" id="health_date" placeholder="Действительно до"><br>
                <label for="dorm">ОБЩЕЖИТИЕ: </label><br>
                <select id="dorm" th:field="*{student.is_dormitory}">
                    <option
                            th:value="${0}"
                            th:text="${'Проживает'}"
                    >
                    <option
                            th:value="${1}"
                            th:text="${'Не проживает'}"
                    >
                    </option>
                </select><br>
<!--                <input type="number" th:field="*{student.is_dormitory}" id="dorm" placeholder="Наличие общежития"><br>-->
                <label for="temporary_registration_validity">ВРЕМЕНАЯ ПРОПИСКА: </label><br>
                <input type="date" th:field="*{student.temporary_registration_validity}" id="temporary_registration_validity" placeholder="Действительно до"><br>

            </td>
            <td>
               <label for="visa_validity">СРОК ДЕЙСТВИЯ ВИЗЫ: </label><br>
                <input type="date" th:field="*{student.visa_validity}" id="visa_validity" placeholder="Срок действия визы"><br>
                <label for="skills">НАВЫКИ: </label><br>
                <input type="text" th:field="*{student.skills}" id="skills" placeholder="Навыки"><br>
                <label for="hobbies">ХОББИ: </label><br>
                <input type="text" th:field="*{student.hobbies}" id="hobbies" placeholder="Хобби"><br>

                <!--    <label for="phone_number">Номер телефона</label>-->
                <!--    <input type="text" th:field="*{user.phone_number}" id="phone_number" placeholder="Номер телефона">-->
                <label for="login">ЛОГИН: </label><br>
<!--                <input type="text" th:field="*{user.login}" id="login" placeholder="Логин"><br>-->
                <input type="text"  th:field="*{user.login}" th:value="${id_stud}"  id="login" th:placeholder=${id_stud} class="greenCl" readonly><br>
                <label for="password">ПАРОЛЬ: </label><br>
                <input type="password" th:field="*{user.password}" id="password" placeholder="Пароль" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Пароль должен содержать как минимум одну цифру, как минимум одну заглавную и одну строчную букву. В сумме не менее 8 цифр и латинских букв" required><br>
            </td>
        </tr>
    </table>





<!--    <label for="date_of_birth">Дата рождения</label>-->
<!--    <input type="date" th:field="*{student.date_of_birth}" id="date_of_birth" placeholder="Дата рождения">-->
<!--    <label for="health_date">Срок действия медицинской страховки</label>-->
<!--    <input type="date" th:field="*{student.health_insurance_validity}" id="health_date" placeholder="МедСтраховка">-->
<!--    <label for="hobbies">Хобби</label>-->
<!--    <input type="text" th:field="*{student.hobbies}" id="hobbies" placeholder="Хобби">-->
<!--    <label for="city">Родной город</label>-->
<!--    <input type="text" th:field="*{student.home_city}" id="city" placeholder="Родной город">-->
<!--    <label for="country">Родная страна</label>-->
<!--    <input type="text" th:field="*{student.home_country}" id="country" placeholder="Родная страна">-->


<!--    <label for="passp_number">Номер паспорта</label>-->
<!--    <input type="text" th:field="*{student.passport_number}" id="passp_number" placeholder="Номер паспорта">-->
<!--    <label for="passp_series">Серия паспорта</label>-->
<!--    <input type="text" th:field="*{student.passport_series}" id="passp_series" placeholder="Серия паспорта">-->

<!--    <label for="temporary_registration_address">Адрес временной прописки</label>-->
<!--    <input type="text" th:field="*{student.temporary_registration_address}" id="temporary_registration_address" placeholder="Адрес временной прописки">-->

<!--    <label for="group">Номер группы</label>-->
<!--    <input type="text" th:field="*{studentGroup.id_group}" id="group" placeholder="Группа">-->
    <input type="submit" value="Зарегистрироваться" class="inp">
</form>
<p><a th:href="@{/sign-in}">НАЗАД</a><br><br></p>
<h3>CampusKids</h3>
</body>
</html>