<!doctype html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CampusKids - Мои сообщения</title>
    <link th:href="@{/styles/messages.css}" rel="stylesheet"/>
</head>
<body>
<h1>CampusKid</h1>

<div th:switch="${messages}">
    <h2 th:case="null">НЕТ НОВЫХ ОПОВЕЩЕНИЙ!</h2>
    <div th:case="*">
        <h2>МОИ СООБЩЕНИЯ</h2>
        <table th:each="mess:${messages}" th:if="${mess.isRead==0}">
            <thead>
            <th>ТЕМА:</th>
            <th>ОТПРАВЛЕНО:</th>
            </thead>
            <tr>
                <td th:text="${mess.theme}"></td>
                <td th:text="${mess.sent_on}"></td>
            </tr>
            <tr>
                <td th:text="${mess.message_content}"></td>
                <td th:if="${mess.isRead==0}">
                    <form action="#" th:action="@{/update-messages-status}" method="post">
                        <input type="submit" value="ПРОЧИТАНО">
                        <input type="hidden" name="id" th:value="${id}">
                        <input type="hidden" name="id_mess" th:value="${mess.id_message}">
                    </form>
                </td>
                <td th:unless="${mess.isRead==0}"></td>
            </tr>
        </table>
    </div>
    <p class="btn"><a th:href="@{/student/{id}(id=${id})}">НАЗАД</a><br><br></p>
</div>
<h3>CampusKids</h3>
</body>
</html>