<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CampusKids - Студент</title>
</head>
<body>
<h1>Hi, CampusKid!</h1>

<a th:href="@{/update-student/{id}(id=${id})}">Отредактировать информацию о себе</a><br><br>
<a th:href="@{/student-marks/{id}(id=${id})}">Моя успеваемость</a><br><br>
<a th:href="@{/student-subjects-rating/{id}(id=${id})}">Рейтинг дисциплин</a><br><br>
<a th:href="@{/student-messages/{id}(id=${id})}">Мои сообщения</a><br><br>
<a th:href="@{/student-statements/{id}(id=${id})}">Ведомостички</a><br><br>
<a th:href="@{/student-visa-and-temporary-registration/{id}(id=${id})}">Виза и временная регистрация</a><br><br>
<a th:href="@{/student-health-insurance/{id}(id=${id})}">Медицинская страховка</a><br><br>
<a th:href="@{/sign-in}">Выйти</a><br><br>

</body>
</html>