<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CampusKids - Учитель</title>
</head>
<body>
<h1>Hi, teacher!</h1>
<a th:href="@{/marks-control}">Отметки студентов</a><br><br>
<a th:href="@{/students-by-groups}">Списки групп</a><br><br>
<a th:href="@{/stages}">Ступени образования по количеству иностранных студентов</a><br><br>

<a th:href="@{/sign-in}">Выйти</a><br><br>
</body>
</html>